<main>
                    <div class="container-fluid">
                        <h1 class="mt-4">WordPress Support</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><?php // echo invoice_notification(); ?></li>
                        </ol>
                        {{ include( 'cards.twig' ) }}

                        {{ include( 'charts.twig' )}}

                        {{ include( 'table.twig' )}}

                    </div>
                </main>